// src/styles/main.scss

@import 'styles/variable';
@import 'styles/mixins';

// Rest of  global styles

.app{
    overflow-x: hidden;
    
    .link{
        color: rgb(50, 25, 110);
        text-decoration: none;
    }
    
}