
.men{
    display: flex;
    gap: 10px;

    .men-body{
        width: calc(100vw - 18vw);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;

        .products{
            display: flex;
            flex-direction: row;
            width: 100%;
        }




        .top{
            width: 100%;
           img{
            width: 100%;
           }
            

        }
    }



    .left{
        display: block;
        align-items: center;
        width: 17vw;
        padding-top: 20px ;
        padding-bottom: 20px ;
        padding-left: 0;
       
    
        .link{
            display:flex;
            align-items: center;
            gap: 5px;
            text-decoration: none;
            padding-left: 10px;
            font-size: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(59, 67, 121);
            
        }
    
        .filters{
            display: block;
            align-items: center; 
            padding-top: 10px;
            
            h1{
                font-family: Arial, Helvetica, sans-serif;
                text-transform: uppercase;  
                font-size: 1.2rem;
                padding-left: 10px;
            }
    
            .filter{
                padding: 10px 10px;
                border: solid 1px rgba(38, 37, 37, 0.1);
                border-left: 0;
                font-family: Arial, Helvetica, sans-serif;
    
                h2{
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    color: black;
                    
                    font-weight: 700;
                   
                }
    
                .category{
                    padding: 5px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 4px;
    
                    label{
                        font-size: 0.9rem;
                        display: flex;
                        gap: 5px;

                      div{
                            width:1rem;
                            height: 1rem;
                            border-radius: 50%;
                            display: flex;
                         position: relative;
                         top: 0;   
                        }
                    }
    
                    input{
                        width: 1rem;
                        height: 1rem;
                        border-radius: 0;
                    }
                }
            }
        }
    
    }











}


